@import "../variable/Variable.scss";

.review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1.5rem;

  &__imgContain {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  &__img {
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 1rem auto;
    border-radius: 50%;
    object-fit: contain;
  }

  &__name {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1rem;
    text-transform: lowercase;

    &::first-line {
      text-transform: capitalize;
    }
  }

  &__job {
    margin-top: 0;
    margin-bottom: 0;
    color: $primary-dark;
    text-transform: uppercase;
  }

  &__text {
  }

  &__btnContain {
    margin-bottom: 10px;
  }

  &__prevBtn,
  &__nextBtn {
    font-family: inherit;
    font-size: 1.4rem;
    color: $primary-dark;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: $primary;
      border: 1px solid $primary-dark;
    }
  }

  &__surprise {
    margin: auto;
    padding: 0.2rem;
    font-family: inherit;
    font-size: 0.9rem;
    border-radius: 5px;
    border: none;
    color: $primary-dark;
    background: $primary-light;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: $primary;
      background: $primary-dark;
    }
  }
}
