@import "../variable/Variable.scss";

.review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1.5rem;

  &__imgContain {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1.5rem;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background: $primary;
      position: absolute;
      top: -0.25rem;
      right: -0.5rem;
      border-radius: 50%;
    }
  }

  &__img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    background: $primary;
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 2.5rem;
    height: 2.5rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    transform: translateY(25%);
    background: $primary;
  }

  &__name {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1rem;
    text-transform: lowercase;

    &::first-line {
      text-transform: capitalize;
    }
  }

  &__job {
    margin-top: 0;
    margin-bottom: 0;
    color: $primary-dark;
    text-transform: uppercase;
  }

  &__text {
  }

  &__btnContain {
    margin-bottom: 10px;
  }

  &__prevBtn,
  &__nextBtn {
    font-family: inherit;
    font-size: 1.4rem;
    color: $primary-dark;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: $primary;
      border: 1px solid $primary-dark;
    }
  }

  &__surprise {
    margin: auto;
    padding: 0.2rem;
    font-family: inherit;
    font-size: 0.9rem;
    border-radius: 5px;
    border: none;
    color: $primary-dark;
    background: $primary-light;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: $primary;
      background: $primary-dark;
    }
  }
}
