@import "./components/variable/Variable.scss";

.header {
  margin: 3rem 0;

  &__heading {
    text-align: center;
    margin: 0;
  }

  &__underline {
    margin: 0.75rem auto;
    width: 5rem;
    height: 0.25rem;
    background: $primary-dark;
  }
}

.content {
  margin: auto;
  width: 90vw;
  max-width: 570px;
  background: $color-white;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}
