@import "./components/variable/Variable.scss";

.container {
}

.header {
  margin-top: 3rem;

  &__heading {
    text-align: center;
    margin: 0;
  }

  &__underline {
    margin: 0.75rem auto;
    width: 5rem;
    height: 0.25rem;
    background: $primary;
  }
}
